svg {
    height: 30px;
    width: 30px;
}
* {
    color: white;
}
.dashboard {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.lsidebar {
    width: 0px;
    // display: none;
}
.lsidebarShow {
    border-right: solid 1px #aaaaaa50;
    background: #000;
    position: fixed;
    left: 0;
    width: 300px !important;
    display: block !important;
    height: 100vh; 
    z-index: 9;
    .lsb-head {
        z-index: 10;
        // background: lime;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding:10px;
        font-size: 24px;
        font-weight: 500;
        border-bottom: solid 1px #11112250;
        .AppLogo {
            // background-color: whitesmoke;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            // border: solid 4px black;
            svg {
                height: 40px;
                width: 40px;
                border-radius: 50px;
            }
        }
    }
    .lsb-body {
        .lsidebar-cont {
            .friend-li {
                display: flex;
                // justify-content: center;
                margin: 10px;
                padding: 7px 13px;
                border-radius: 13px;
                background: #333;
                align-items: center;
                gap: 15px;
                .friend-img-cont {
                    height: 40px;
                    width: 40px;
                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                    }
                }
                .friend-info-cont {
                    .friend-info-name {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .friend-info-id {
                        font-size: 14px;
                    }
                }
            }
        }
        button {
            padding: 10px 30px;
            display: block;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
            background: transparent;
            border: none;
        }
        button:hover {
            background: #000;
        }
    }
}
.body {
    background: black;
    position: fixed;
    top: 0;
    right: 000px;
    bottom: 0;
    left: 300px;
    .main {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 40px;
        box-sizing: border-box;
    }
}


.icon {
    position: absolute;
    height: 40px;
    width: 50px;
    left: 300px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    PADDING: 0 5PX;
    box-sizing: border-box;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    // transform: translateX(50px);
    z-index: 10;
    span{
        position: absolute;
        z-index: 10;
        display: block;
        height: 4px;
        width: 30px;
        border-radius: 10px;
        transition: .5s;
        background: white;
    } 
    span:nth-child(1) {
        width: 20px;
        transform: translateY(-7px);
        left: 10px;
    }
    span:nth-child(2) {
        width: 30px;
        transform: translateY(0px);
        left: 10px;
    }
    span:nth-child(3) {
        transform: translateY(7px);
        width: 30px;
        left: 10px;
    }
}
.active-icon {
    transform: translate(0px);
    width: 40px !important;
    span:nth-child(1) {
        width: 30px;
        transform: translateY(0px) rotate(45deg);
        left:initial;
    }
    span:nth-child(2) {
        width: 30px;
        transform: translateX(100px);
        left:initial;
    }
    span:nth-child(3) {
        transform: translateY(0px) rotate(675deg);
        width: 30px;
        left:initial;
    }
}